# exclude data directory
data

# log files
log/

# exclude passwords and config
.env
.cfg
config.py

# exclude git
.git

# virtualenv
megatrackvenv/

# volumes of nginx and db containers
nginx/
mysqldb/
