# compiled python files
*.pyc

# temporary files
*~

# pycache
__pycache__/

# eclipse files
.project
.pydevproject
.javascript.liclipseprefs
.settings

# data files
data/

# log files
log/

# egg info
megatrack.egg-info/

# development config file
config.py

# python virtual environment
megatrackvenv
megatrackvenv3.6

# a folder that suddenly appeared
megatrack/bin/

# file containing data on unit test coverage
.coverage

# minified js/css files
megatrack/static/js/core/*.min.js
megatrack/static/css/core/*.min.css

# webassets cache
megatrack/static/.webassets-cache/

# config stuff
.cfg
.test-cfg
.env
nginx/
mysqldb/
