# compiled python files
*.pyc

# temporary files
*~

# pycache
__pycache__/

# eclipse files
.project
.pydevproject

# data files
data/

# log files
log/

# egg info
megatrack.egg-info/

# development config file
config.py

# python virtual environment
megatrackvenv

# a folder that suddenly appeared
megatrack/bin/

# file containing data on unit test coverage
.coverage
