# compiled python files
*.pyc

# temporary files
*~

# pycache
__pycache__/

# eclipse files
.project
.pydevproject

# data files
data/

# egg info
megatrack.egg-info

# development config file
config.py

# python virtual environment
megatrack-venv
