Flask==0.12
Flask-SQLAlchemy==2.2
Flask-Migrate==2.0.3
Flask-Script==2.0.5
flask-jsontools==0.1.1.post0
PyMySQL==0.7.10
Flask-Testing==0.6.2
numpy==1.11.2
nibabel==2.1.0
jquery-unparam==2.0.0
pylibmc==1.5.2
