#view-container-title {
    float: left;
    font-size: 200%;
    color: white;
    position: relative;
    top: -63px;
    left: -435px;
    font: normal normal normal 45px/1.4em Jura,sans-serif;
    width: 1250px;
    height: 10px;
}