#tabs-wrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}


#tabs-header {
    height: 30px;
    border-bottom: 1px solid lightgrey;
}

.tab-header {
    height: 22px;
    /*width: 200px;*/
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 5px 5px 0 0;
    padding: 4px;
    float: left;
    background-color: #ebebe0;
}

.tab-header:hover {
    background-color: #e1e1d0;
}

.tab-header-disabled {
    height: 22px;
    width: 200px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 5px 5px 0 0;
    padding: 4px;
    float: left;
    background-color: #ebebe0;
}

.tab-header-selected {
    background-color: white;
}

.tab-header-selected:hover {
    background-color: white;
}

#tabs-contents {
    height: 170px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
    flex: 1;
}

.tabs-scroll {
    width: 20px;
    height: 100%;
    line-height: 23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-scroll:hover {
    background-color: #ebebe0;
}

.tabs-scroll-disabled {
    color: rgb(180,180,180);
}

.tabs-scroll-disabled:hover {
    background-color: white;
}

#tabs-left-scroll {
    float: left;
}

#tabs-right-scroll {
    float: right;
}

.tabs-hint {
    background-color: #ebebe0;
    height: 100%;
    border-top: 1px solid lightgrey;
}

#tabs-left-hint {
    border-right: 1px solid lightgrey;
    border-top-right-radius: 5px;
    float: left;
}

#tabs-right-hint {
    border-left: 1px solid lightgrey;
    border-top-left-radius: 5px;
    float: right;
}
