.tab-header-color-swatch {
    width: 16px;
    height: 16px;
    background: red;  
    border: 1px solid grey;
    border-radius: 3px;
    float: left;
}

.tab-header-tract-name {
    width: 150px;
    float: left;
    text-overflow: ellipsis;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-top: 2px;
    text-align: left;
    font-size: 90%;
}

.tab-header-remove-icon {
    float: left;
    width: 20px;
    height: 25px;
    position: relative;
    top: -0.2em;
    background: url("../../images/remove-icon.png") 96% / 9px no-repeat;
}

.tract-contents {
    height: 100%;
}

.tab-content-renderer-controls {
    width: 30%;
    height: 90%;
    margin: 10px;
    float: left;
}

/* .tab-content-tract-info {
    width: 30%;
    height: 90%;
    margin: 10px;
    float: left;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
} */

.tab-content-tract-disconnection {
    width: 63%;
    height: 90%;
    margin: 10px;
    float: left;
    border-left: 1px solid lightgrey;
}

.tract-slider {
    height: 8px !important;
}

.tract-slider-handle {
    font-size: small;
    width: 1.9em !important;
    text-align: center;
    top: -0.4em !important;
    line-height: 17px;
}

.tract-control-wrapper {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

.tract-control-label {
    font-size: 80%;
    margin-bottom: 8px;
    text-align: left;
}

.colormap-select {
    position: absolute;
    width: 170px;
    height: 86px;
    background: grey;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 5;
}

.colormap-select-item {
    width: 167px;
    height: 12px;
    margin-bottom: 4px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.download-button {
    width: 40%;
    float: left;
    margin-left: 10px;
    font-size: 80%;
}

.info-button {
    width: 40%;
    float: right;
    margin-right: 10px;
    font-size: 80%;
}

.run-disconnect-button {
    font-size: 80%;
    width: 200px;
    margin-left: 10px;
}

.disconnect-results {
    float: left;
    height: 100%;
    width: 47%;
    margin-left: 10px;
    font-size: 80%;
    text-align: left;
    line-height: 20px;
}

.disconnect-histogram-wrapper {
    float: left;
    height: 100%;
    width: 48%;
    margin-left: 10px;
}

