.tract-info-tab {
    display: flex;
    padding: 10px;
    height: 195px;
}

.tract-info-tab-col {
    flex: 1 1 33%;
    box-sizing: border-box;
}

.info-col {
    border-right: 1px solid lightgrey;
}

.control-col {
    border-right: 1px solid lightgrey;
}