{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="content-text">

The MegaTrack Atlas is an online neuroimaging tool developed by the <a href="https://www.natbrainlab.co.uk/">Natbrainlab</a> with funding from he <a href="https://www.maudsleybrc.nihr.ac.uk/">NIHR Biomedical Research
 Centre at South London and Maudsley NHS Foundation Trust</a> as well as the 
 <a href="https://wellcome.ac.uk/">Wellcome Trust</a>.
 <br><br>

<div id="about-wellcome-logo"></div>
<div id="about-maudsley-logo"></div>
<div id="about-brc-logo"></div>
<div class="clear"></div>

<br>
The tool provides access to white matter dissections from multiple diffusion MRI datasets.
Users can query subjects based on certain demographics (age, gender etc) and view averaged density maps for different
 white matter tracts. Statistical metrics for the averaged tracts are also generated.
<br><br><br>
The <a href="https://www.natbrainlab.co.uk/">Natbrainlab</a> is part of the <a href="https://sacklerinstitute.org/">Sackler Institute</a> at <a href="https://www.kcl.ac.uk">King's College London</a>.
<br>
<div id="about-natbrainlab-logo"></div>
<div id="about-sackler-logo"></div>
<div id="about-kings-logo"></div>

</div>
{% endblock %}
