<!DOCTYPE html>
<html>

	<head>
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>MegaTrack Atlas</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/tab-logo.png') }}"/>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura">
		{% endblock %}
	</head>

    <body>
         <div id="header-wrapper">
         	<div id="header">
	         	<!-- <div id="title"><div id="title-logo"></div><div id="title-words">MegaTrack Atlas</div></div>  -->
	         	<div id="title-logo"></div>
	         	<div id="title-words">MegaTrack Atlas</div>
	         	<nav>
		         	<ul>
		                 <li><a href="{{ url_for('megatrack.index') }}">Home</a></li>
		                 <li><a href="{{ url_for('megatrack.about') }}">About</a></li>
		                 <li><a href="{{ url_for('megatrack.contact') }}">Contact</a></li>
		             </ul>
	             </nav>
	             
	             <div style="clear: both;"></div>
             </div>
         </div>
         <div id="content-wrapper">
         	<div id="content">{% block content %}{% endblock %}</div>
         </div>
         <div id="footer-wrapper">
         	<div id="footer">&copy; 2017 NatBrainLab</div>
         </div>
    </body>


</html>
