{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='viewer.css') }}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='viewer.js') }}"></script>
{% endblock %}
{% block content %}
<div id="content-text">
<h2>Home page</h2>
Welcome to Megatrack.
</div>

<div id="viewer"></div>

{% endblock %}
