{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/query-builder.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tract-select.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='external/jquery-ui.css') }}">
  <script src="{{ url_for('static', filename='external/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='external/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='external/colormaps.js') }}"></script>
  
  <!--<script src="{{ url_for('static', filename='X/utils/xtk.js') }}"></script> -->
  <script src="{{ url_for('static', filename='X/lib/google-closure-library/closure/goog/base.js') }}"></script>
  <script src="{{ url_for('static', filename='X/xtk-deps.js') }}"></script>
  <script>goog.require('X.renderer2D'); goog.require('X.volume'); goog.require('X.renderer3D'); goog.require('X.fibers');</script>
  
  <script src="{{ url_for('static', filename='js/Colormaps.js') }}"></script>
  <script src="{{ url_for('static', filename='js/TractSelect.js') }}"></script>
  <script src="{{ url_for('static', filename='js/QueryBuilder.js') }}"></script>
  <script src="{{ url_for('static', filename='js/View.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Renderers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/AtlasViewer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/atlas.js') }}"></script>
  
  <link rel="prefetch" href="{{ url_for('static', filename='images/loading.gif') }}" />
  <link rel="prefetch" href="{{ url_for('static', filename='images/settings-icon.png') }}" />
  <link rel="prefetch" href="{{ url_for('static', filename='images/metrics-icon.png') }}" />
  <link rel="prefetch" href="{{ url_for('static', filename='images/download-icon.png') }}" />
  
{% endblock %}
{% block content %}

<div id="viewer"></div>

<div id="content-text">
    <div id="about-wellcome-logo"></div>
    <div id="about-maudsley-logo"></div>
    <div id="about-brc-logo"></div>
    <div id="clear"></div>
</div>



{% endblock %}
