/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
	margin: auto;
	font-family: Helvetica, Verdana, sans-serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-weight: 300;
    color: grey;
    line-height: 1;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#header-wrapper {
	width: 100%;
	height: 100px;
	text-align: center;
}

#header {
	width: 1250px;
	display: inline-block;
	padding-top: 4px;
}

/*#title {
	font-family: jura,sans-serif;
	font-weight: bold;
	width: 600px;
	height: 100px;
	float: left;
	margin-top: 4px;
}*/

#title-logo {
	width: 120px;
	height: 100px;
	background: url("images/header-logo.png") no-repeat white;
	background-size: contain;
	float: left;
}

#title-words {
	width: 450px;
	float: left;
	font: normal normal bold 50px/1.4em Jura,sans-serif;
	color: #333330;
}

nav {
	width: 450px;
	margin-left: 220px;
}

#header ul {
	/*height: auto;*/
	float: left;
	/*list-style: none;*/
	/*margin: 0px;*/
	font: normal normal bold 20px/1.4em Jura,sans-serif;
	color: #333330;
}

#header li {
	float: left;
	padding: 0 10px 0 10px;
}

#header li a {
	color: darkgrey;
	text-decoration: none;
}

#header li a:hover {
	color: grey;
}

#header-logos {
    width: 500px;
    height: 100px;
    float: right;
}

#brc-logo {
    height: 100px;
    width: 200px;
    float: right;
    padding-top: 12px;
    background: url("images/Supported_by_NHS.png") 90% / 180px no-repeat white;
}

#wellcome-logo {
    height: 100px;
    width: 100px;
    float: right;
    padding-top: 12px;
    background: url("images/wellcome-logo.jpg") 90% / 80px no-repeat white;
}

#content-wrapper {
	width: 100%;
	text-align: center;
}

#content {
	width: 1000px;
	display: inline-block;
	/*text-align: left;*/
	margin: 10px;
	padding-top: 10px;
}

#content-text {
	width: 1200px;
    display: inline-block;
    padding-top: 30px;
    font-size: 120%;
}

#footer-wrapper {
	width: 100%;
	text-align: center;
	padding: 20px 0 20px 0;
}

#footer {
	width: 1200px;
	display: inline-block;
}

#about-maudsley-logo {
    width: 400px;
    height: 150px;
    float: left;
    margin-left: 80px;
    background: url("images/Maudsley-BRC.png") 100% / 400px no-repeat white;
}

#about-brc-logo {
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 60px;
    background: url("images/Supported_by_NHS.png") 100% / 250px no-repeat white;
}

#about-wellcome-logo {
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 80px;
    background: url("images/wellcome-logo.jpg") 100% / 250px no-repeat white;
}

#about-natbrainlab-logo {
    width: 500px;
    height: 200px;
    float: left;
    margin-left: 60px;
    background: url("images/natbrainlab-logo.png") 0% / 400px no-repeat white;
}

#about-kings-logo {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 90px;
    background: url("images/kings-logo.png") 0% / 130px no-repeat white;
}

#about-sackler-logo {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 0px;
    background: url("images/sackler-logo.png") 0% / 300px no-repeat white;
}

#admin-login-container {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 350px;
    height: 230px;
    margin: 0 auto;
}

#admin-login-form {

}

.admin-login-input {
    color: #a7a7a7;
    width: 300px;
    height: 30px;
    font-size: 150%;
    margin: 10px;
}

#admin-login-button {
    width: 150px;
    margin: 10px;
    height: 40px;
    font-size: 140%;
}

#admin-login-error-message {
    width: 300px;
    margin: 0 auto;
    height: 50px;
    color: red;
}


