#viewer {
	width: 710px;
	display: inline-block;	
}

.viewer-panel {
	width: 250px;
	height: 250px;
	border: 1px solid grey;
	float: left;
	background: black;
	margin: 20px;
}

.view {
	height: inherit;
	background: black;
	position: relative;
}

.ui-slider {
	clear: both;
}

.crosshairs {
	position: absolute;
	left: 0;
	top: 0;
	/*width: 250px;
	height: 250px;*/
}

#query-panel {
	background: white;
	border: none;
}

#prob-range-text {
	border:0;
	color:darkgrey;
	font-weight:bold;
	width: 100px;
	margin-left: 18px;
}