
body {
	background: white;
}

hr {
	background-color: lightgrey;
	color: lightgrey;
	border: none;
	height: 1px;
	margin-top: 3px;
}

select {
	background-color: white;
	color: grey;
	border: 1px solid darkgrey;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 28px;
	background: url("images/select-caret.png") 96% / 10px no-repeat white;
	padding-left: 3px;
}

select:hover {
	background-color: #F5F5F5;
	border: 1px solid grey;
	cursor: pointer;
}

select[disabled] {
	background-color: white;
	color: lightgrey;
	border: 1px solid lightgrey;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 28px;
	background: url("images/select-caret-disabled.png") 96% / 10px no-repeat white;
}

select[disabled]:hover {
	cursor: default;
}

select > option {
	background: white;
	padding-left: 3px;
}

select > option:hover {
	background: white;
}

select > option[disabled] {
	color: lightgrey;
}

select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

.clear {
	clear: both;
}

.remove-icon {
	width: 10px;
	height: 10px;
	position: relative;
	top: -0.2em;
	background: url("images/remove-icon.png") 96% / 9px no-repeat;
}

.remove-icon-disabled {
	width: 10px;
	height: 10px;
	position: relative;
	top: -0.2em;
	background: url("images/remove-icon-disabled.png") 96% / 9px no-repeat;
}

.download-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 0.09em;
	background: url("images/download-icon.png") 96% / 13px no-repeat;
}

.download-icon-disabled {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0.09em;
    background: url("images/download-icon-disabled.png") 96% / 13px no-repeat;
}

.settings-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 0.09em;
	background: url("images/settings-icon.png") 96% / 12px no-repeat;
}

.settings-icon-disabled {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0.09em;
    background: url("images/settings-icon-disabled.png") 96% / 12px no-repeat;
}

.atlas-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 0.13em;
	background: url("images/3d-icon.png") 96% / 18px no-repeat;
}

.atlas-icon-disabled {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0.13em;
    background: url("images/3d-icon-disabled.png") 96% / 18px no-repeat;
}

.metrics-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 0.09em;
	background: url("images/metrics-icon.png") 96% / 12px no-repeat;
}

.metrics-icon-selected {
	width: 20px;
	height: 20px;
	position: relative;
	top: 0.09em;
	background: url("images/metrics-icon-selected.png") 100% 50% / 16px no-repeat;
}

.metrics-icon-disabled {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0.09em;
    background: url("images/metrics-icon-disabled.png") 96% / 12px no-repeat;
}

.loading-gif {
	width: 12px;
	height: 12px;
	background: url("images/loading.gif") 100% / 12px no-repeat;
	float: right;
	position: relative;
	top: 5px;
	left: -12px;
	margin: 0 auto;
}

#viewer {
	width: 1260px;
	display: inline-block;
	background: white;
	border: 1px solid darkgrey;
	border-radius: 10px;
	padding: 10px;
	position: relative;
}

#view-container {
	width: inherit;
	height: 480px;
	background: black;
	border-radius: 10px;
}

.viewer-panel {
	/*border: 1px solid grey;*/
	float: left;
	background: black;
	margin: 20px;
	position: relative;
}

.view-border {
	display: flex;
	justify-content: center;
	align-items: center;
}

.view {
	background: black;
	position: relative;
	/*margin: auto;*/
	z-index: 1;
}

.ui-slider {
	clear: both;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
}

#query-report {
	width: 98%;
	float: left;
	background: black;
}

#tract-panel {
	width: 722px;
	float: left;
	/*padding-left: 10px;*/	
	/*padding-right: 2px;*/
	/*margin-top: 10px;*/
	border: 1px solid darkgrey;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.tract-select-container {
	width: 45%;
	float: left;
	margin-bottom: 7px;
}

#add-tract-select {
	width: 100%;	
}

#tract-disabled-msg-container {
	width: 50%;
	float: left;
	text-align: left;
	padding-left: 10px;
	position: relative;
	top: 2px;
}

#tract-disabled-msg-text {
	color: #F00202;
	font-size: 80%;
	/*width: 50%;
	float: left;
	text-align: left;
	padding-left: 10px;
	position: relative;
	top: 4px;*/
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

/*#add-tract-button {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 40%;
	margin-top: 4px;
	margin-bottom: 6px;
	float: left;
}*/

/*#add-tract-button:hover {
	cursor: pointer;
	background: rgb(225,225,225);
}*/

#query-panel {
	width: 40%;
	height: 300px;
	background: white;
	border: none;
	background: white;
	float: left;
	padding: 10px;
	border: 1px solid darkgrey;
	border-radius: 5px;
	height: 250px;
	margin-top: 10px;
}

#query-form-container {
	border: 1px solid darkgrey;
	border-radius: 5px;
	height: 200px;
}

#query-submit {
	margin-top: 25px;
}

#query-info {
	font-size: 80%;
	text-align: left;
	width: 38%;
	height: 10px;
	float: left;
	top: 5px;
	position: relative;
}

#query-info-text {
	padding-left: 15px;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	
}

.range-label {
	border:0;
	color:darkgrey;
	font-weight:bold;
	width: 100px;
	margin-left: 18px;
}

.query-checkboxes {
	width: 44%;
	float: left;
}

.query-range {
	width: 70%;
	margin: auto;
}

#table-div {
	height: 250px;
	width: 450px;
	/*border: 1px solid darkgrey;
	border-radius: 5px;*/
	overflow: scrollable;
	padding: 10px;
	float: left;
}

#tract-table {
	width: inherit;
	/*height: 200px;*/
	/*background: lightgrey;*/
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

.tract-table-cell {
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-align: center;
}

#tract-table tr {
	/*border: 1px solid darkgrey;
	border-radius: 10px;*/
	width: inherit;
}

.tract-row {
	height: 25px;
}

.tract-disabled {
    color: lightgrey;
}

#tract-name {
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 45%;
	font-size: 85%;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

#tract-colormap {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	width: 22%;
	margin-right: 3px;
	vertical-align: middle;
}

#tract-settings {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding-left: 8px;
}

#tract-download {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding-left: 3px;
}

#tract-info {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding-left: 9px;
}

#tract-atlas {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding-left: 9px;
}

#tract-remove {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 12px;
	padding-right: 8px;
}

.tract-icon {
	margin: 0 auto;
}

.clickable:hover {
	cursor: pointer;
}

.colormap-indicator {
	border-radius: 10px;
	border: 1px solid lightgrey;
	height: 12px;
}

.colormap-indicator:hover {
	border: 1px solid grey;
}

.colormap-indicator-caret {
	float: right;
	position: relative;
	top: 0.08em;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: -.25em;
	background: url("images/select-caret.png") 30% 55% / 8px no-repeat rgba(0,0,0,0);
}

.colormap-indicator-disabled {
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: 12px;
    background-color: lightgrey;
}

.colormap-indicator-caret-disabled {
    float: right;
    position: relative;
    top: 0.08em;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: -.25em;
    background: url("images/select-caret-disabled.png") 30% 55% / 8px no-repeat rgba(0,0,0,0);
}

#colormap-select {
	position: absolute;
	width: 120px;
	height: 86px;
	background: grey;
	border: 1px solid lightgrey;
	padding: 5px;
	border-radius: 5px;
	opacity: 0.9;
}

.colormap-select-item {
	width: 117px;
	height: 12px;
	margin-bottom: 4px;
	border-radius: 10px;
	border: 1px solid lightgrey;
}

.colormap-select-item:hover {
	border: 1px solid grey;
}

.colormap-select-indicator {
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.tract-spacer-row {
	height: 3px;
}

.tract-spacer-col {
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	width: 0%;
}

#tract-select-container {
	float: left;
	cursor: pointer;
}

#tract-select {
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 2px 2px 2px lightgrey;
	border-radius: 5px;
	z-index: 3;
}


.dataset-spacer-row {
	height: 6px;
}

.dataset-query-row-excluded {
	color: lightgrey;
}

.dataset-query-heading {
	width: 25%;
	float: left;
	padding-left: 20px;
	padding-top: 3px;
	text-align: left;
}

.dataset-query-constraint-select {
	width: 35%;
	float: left;
}

.dataset-exclude {
	width: 20%;
	float: left;
	padding-left: 5px;
	padding-top: 3px;
}

.dataset-exclude-label {
	position: relative;
	/*vertical-align: text-bottom;*/
	bottom: 4px;
	padding-right: 10px;
	font-size: 85%;
}

.dataset-remove {
	float: right;
	width: 10%;
}

#dataset-table {
	width: 100%;
	border-spacing: 0;
}

.dataset-query-cell {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 3px;
}

.dataset-table-cell {
	background: #fcfff4; /* Old browsers */
	/*background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.dataset-title-query-select {
	width: 35%;
	border-left: 1px solid darkgrey;
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.query-constraints {
	width: 65%;
	border-right: 1px solid darkgrey;
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.query-constraints-table {
	width: 100%;
	border-spacing: 0;
	margin-top: 5px;
}

.query-constraint-row {
	font-size: 85%;
	text-align: left;
	padding-left: 20px;
	height: 25px;
}

.query-constraint-checkbox-label {
	position: relative;
	/*vertical-align: text-bottom;*/
	bottom: 4px;
	padding-right: 10px;
}

#query-name {
	width: 40%;
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

#query-control {
	width: 50%;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	vertical-align: middle;
}

#query-remove {
	width: 10%;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 25px;
	vertical-align: middle;
	padding-top: 6px;
}

.query-constraint-table-cell {
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 0px;
}

.query-constraint-spacer-row {
	height: 3px;
}

.query-slider-handle {
	font-size: 80%;
}

#query-range-slider {
	height: 8px;
}

#query-range-min-handle {
	width: 1.7em;
	text-align: center;
	top: -0.3em;
}

#query-range-max-handle {
	width: 1.7em;
	text-align: center;
	top: -0.3em;
}

.dataset-select-container {
	width: 30%;
	float: left;
}

#add-dataset-select {
	width: 100%;
}

#add-dataset-button {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 30%;
	margin-top: 4px;
	float: left;
}

#add-dataset-button:hover {
	cursor: pointer;
	background: rgb(225,225,225);
}

#dataset-select {
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 2px 2px 2px lightgrey;
	border-radius: 5px;
	z-index: 3;
}

#update-query-button {
	border-radius: 5px;
	width: 30%;
	margin-top: 1px;
	margin-left: 8px;
	margin-bottom: 7px;
	float: left;
	height: 25px;
}

#update-query-button-text {
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

/*#update-query-button:hover {
	cursor: pointer;
	background: #C3DDE6;
}*/

.update-query-button-active {
	background: white;
	background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 1px solid lightgrey;
}

.update-query-button-active:hover {
	background: #e9e9ce;
	cursor: pointer;
}

.update-query-button-disabled {
	border: 1px solid lightgrey;
	background: #EBEDE6;
	color: lightgrey;
}

/*.update-query-button-disabled:hover {
	background: lightgrey;
	cursor: default;
}*/

.dataset-remove-icon {
	margin-left: 25px;
	margin-top: 10px;
}

#query-report-container {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
	border-radius: 5px;
    border: 1px solid darkgrey;
    margin-top: 10px;
}

#prob-range-slider-wrapper {
	width: 50%;
	float: left;
	top: -7px;
	position: relative;
	left: 18px;
}

#prob-range-slider {
	height: 8px;
}

.prob-range-slider-handle {
	font-size: small;
}

#prob-range-min-handle {
	width: 1.7em;
	text-align: center;
	top: -0.4em;
}

#prob-range-max-handle {
	width: 1.7em;
	text-align: center;
	top: -0.4em;
}

#prob-range-label {
	font-size: 80%;
	margin-bottom: 5px;
	text-align: left;
}

#tract-prob-range-slider-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

#tract-prob-range-slider {
	height: 8px;
}

.tract-prob-range-slider-handle {
	font-size: small;
}

#tract-prob-range-min-handle {
	width: 1.7em;
	text-align: center;
	top: -0.4em;
}

#tract-prob-range-max-handle {
	width: 1.7em;
	text-align: center;
	top: -0.4em;
}

#tract-prob-range-label {
	font-size: 80%;
	margin-bottom: 5px;
	text-align: left;
}

#tract-settings-menu {
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 2px 2px 2px lightgrey;
	width: 250px;
	height: 155px;
	background: white;
	z-index: 10;
	position: relative;
}

#tract-settings-menu-header {
	margin: 10px;
}

#tract-settings-title {
	width: 90%;
	float: left;
	text-align: left;
	font-size: 90%;
}

#tract-settings-close {
	float: left;
	width: 20px;
	height: 20px;
	top: 10px;
}

#tract-opacity-slider-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

#tract-opacity-slider {
	height: 8px;
}

#tract-opacity-slider-handle {
	width: 1.7em;
	top: -0.4em;
	text-align: center;
	font-size: small;
}

#tract-opacity-label {
	font-size: 80%;
	margin-bottom: 5px;
	text-align: left;
}

.triangle{
    position: absolute;
    top: 150px;
    left: 49px;
    margin-left: -15px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

#tract-info-container {
	width: 230px;
	height: 250px;
	/*border: 1px solid darkgrey;*/
	border-radius: 5px;
	/*overflow: scrollable;*/
	padding: 3px 10px 10px 10px;
	float: left;
	line-height: 21px;
}

#tract-info-heading {
	width: 100%;
	height: 8%;
	text-align: left;
	font-size: 90%;
}

#tract-info-name {
	width: 100%;
	height: 9%;
	text-align: left;
	/*border-bottom: 1px solid lightgrey;*/
}

.tract-info-metrics {
	width: 220px;
	height: 35%;
	font-size: 90%;
	text-align: left;
	/*border-bottom: 1px solid lightgrey;*/
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 8px;
}

.metrics-display {
	width: 220px;
	height: 70px;
}

.tract-metrics-loading-gif {
	width: 12px;
	height: 12px;
	background: url("images/loading.gif") 100% / 12px no-repeat;
	position: relative;
	margin: 0 auto;
	top: 27px;
}

#tract-info-description {
	width: 100%;
	height: 55%;
	overflow: auto;
	text-align: left;
	font-size: 85%;
	border: 1px solid lightgrey;
	padding: 3px;
}

#tract-info-overlay {
	/* The #viewer element is positioned relative so this element can be positioned
	absolutely relative to it.*/
	position: absolute;
	left: 10px;
	top: 10px;
	width: 1199px;
	height: 419px;
	background: white;
	opacity: 0.95;
	border-radius: 10px;
	z-index: 9;
	border: 1px solid grey;
	padding: 30px;
}

#tract-info-overlay-title {
	width: 1150px;
	text-align: left;
	font-size: 130%;
	float: left;
}

#tract-info-overlay-close {
	float: left;
	width: 20px;
	height: 20px;
}

#tract-info-overlay-trk {
	width: 350px;
	height: 350px;
	/*border: 1px solid lightgrey;*/
	margin-top: 30px;
	float: left;
}

#tract-info-overlay-description {
	width: 750px;
	float: left;
	text-align: left;
	margin-top: 30px;
	margin-left: 50px;
	line-height: 25px;
}

